<mat-toolbar>
  
    <img src="assets/logo-geeksdata.png">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon style="color: rgb(112, 205, 228);padding: 8px;"> phone</mat-icon>+216 70 834 069    
      </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon style="color: rgb(112, 205, 228);">facebook</mat-icon>
    </button>
    
    <button mat-flat-button style="color: rgb(112, 205, 228);" routerLink="/login">Login</button>
    <!-- <a href="#!" routerLink="/home" >Sign in</a> -->
  </mat-toolbar>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Home">
        <img src="assets/header01.png" style=" max-width: 100%;
        height: auto; ">
        <br>
     </mat-tab>
   
    <mat-tab label="Tools"><br>
        <ul> <li> <h1>Nodejs</h1></li></ul>
      <img src="assets/Node.js_logo.svg.png" class="imgTools">
      <h4 style="text-align: center;">Node.js est une plateforme logicielle libre en JavaScript, orientée vers les applications
           réseau événementielles hautement concurrentes qui doivent pouvoir monter en charge.
            Elle utilise la machine virtuelle V8, la librairie libuv pour sa boucle d'évènements,
             et implémente sous licence MIT les spécifications CommonJS.</h4>
       
             <ul> <li> <h1>Angular</h1></li></ul>
    <img src="assets/Angular_full_color_logo.svg.png" class="imgTools">
    <h4 style="text-align: center;">Développé par Google, Angular est un Framework open source écrit en JavaScript qui permet 
        la création d’applications Web et plus particulièrement de ce qu’on appelle des  
        « Single Page Applications » : des applications web accessibles via une page web unique
         qui permet de fluidifier l’expérience utilisateur et d’éviter les chargements de pages à 
         chaque nouvelle action. Le Framework est basé sur une architecture du type MVC1 et permet 
         donc de séparer les données, le visuel et les actions pour une meilleure gestion 
         des responsabilités. Un type d’architecture qui a largement fait ses preuves et 
         qui permet une forte maintenabilité et une amélioration du travail collaboratif.</h4>

    <ul> <li><h1>Visual Studio Code</h1></li></ul>
    <img src="assets/Visual_Studio_Code_1.35_icon.svg.png" class="imgTools">
    <h4 style="text-align: center;">Visual Studio Code est un éditeur de code extensible développé par Microsoft pour Windows, Linux et macOS.

        Les fonctionnalités incluent la prise en charge du débogage, la mise en évidence de la syntaxe, la complétion intelligente du code, les snippets, 
        la refactorisation du code et Git intégré. Les utilisateurs peuvent modifier le thème, les raccourcis clavier, les préférences et
         installer des extensions qui ajoutent des fonctionnalités supplémentaires.</h4>
         <br>
    </mat-tab>
    
    <mat-tab label="Site">
        <br>
        <h2 style="text-align: center;">Comment augmenter le renforcement naturel de ce site ?</h2>
        <ul> <li>   <h2> Solution 1 :</h2> </li></ul><h4 style="text-align: center;">coder différemment avec une stratégie d’amélioration progressive.
        Le principe de l’amélioration progressive consiste à construire son site en 3 couches :
        
       - Le contenu stocké dans le code HTML (contenu et fonctionnalités accessibles pour tous).
       - La mise en forme est définie par les feuilles de style en cascade externes (CSS).
       - Les fonctionnalités écrites dans un script externe comme JavaScript</h4>
       <ul> <li> <h2>Solution 2 :</h2></li></ul> <h4 style="text-align: center;"> Créer des snapshots HTML soi-même. Cette méthode est préconisée par Google pour l’Ajax.
En résumé, le code JS est exécuté via un headless browser côté serveur, afin de générer le HTML produit par le code JS.
Ce code est “capturé” avant d’être envoyé, comme une page HTML normale, au navigateur de l’internaute.
Néanmoins, cette méthode fait perdre une partie de l’intérêt du “client side rendering”, la page devient statique.
Souvent, l’arbitrage est d’envoyer les snapshots aux bots des moteurs de recherche uniquement.</h4>

<ul> <li><h2>Solution 3 :</h2> </li></ul><h4 style="text-align: center;"> Utiliser un serveur de prérendition tiers. Les outils de pré-rendu de document facilitent le crawl de notre site.  Un serveur de prérendition permet de pré rendre vos pages statiques, dès que l’outil détecte qu’un crawler vient sur votre site, il lui affichera le rendu final HTML statique.
Les principaux outils de prérendition tiers sont : Prerender, SEO 4 Ajax (Cocorico !), Brombone.
Attention cette technique peut ressembler à du cloaking même si ce n’est pas le cas.
Aussi, les serveurs de rendition utilisent la méthode obsolète pour rendre l’Ajax crawlable. À savoir :

- Soit la méthode des escaped fragments avec hash bangs (comme vu précédemment).
- Soit la méthode des escaped fragments avec balise méta :<meta name=”fragment” content=”!”>
Attention, cette méthode en HTML5 utilisant la méthode pushstate() est aussi obsolète que l’autre. 
Pour le moment cette méthode fonctionne y compris sur les différents moteurs de recherche.
 Mais jusqu’à quand ?</h4>
 
 <h3>Framework JavaScript : The next generation</h3> 
<h4 style="text-align: center;"> L’avenir est aux Frameworks JavaScript “isomorphes” capables d’une rendition hybride (coté serveur et/ou client).
Avec ReactJS ou HapiJS, on peut donc générer le HTML avant de l’envoyer au navigateur. Il devient possible de créer des sites web avec des Framework JS, sans générer de problèmes avec le SEO.
Cependant, mal utilisés, ces Frameworks JS de dernière génération peuvent poser les mêmes 
problèmes que ceux expérimentés avec la première génération.</h4>
 <h2 style="text-align: center;">Quels sont les outils à utiliser pour héberger le site pour un serveur OVH et suivre son utilisation ?</h2>
 <img src="assets/cms.PNG" class="imgTools">
 <h2 style="text-align: center;"> Création d’un site internet en 5 étapes</h2>
<h4 style="text-align: center;">1- Réserver un nom de domaine</h4>
<h4 style="text-align: center;">2- Choisir l’hébergement web adapté selon le trafic attendu sur votre site</h4>
<h4 style="text-align: center;">3- Choisir un module (CMS) et l’installer en un clic</h4>
<h4 style="text-align: center;">4- Configurer le site et ajouter des options pour améliorer ses performances</h4>
<h4 style="text-align: center;">5- Publier des pages directement dans votre CMS</h4>
<br>

    </mat-tab>
  </mat-tab-group>
  <!-- Footer -->
<h5 style="text-align: center;"> © 2019 Geeks Data.</h5>

    

        
      
         
         
            
          
  
